@font-face{
    font-family: 'yasinvaierfont';
    src : url(../font/SolaimanLipi_29-05-06.ttf)  format('truetype')
}
 

body{
    font-family: 'Oswald', sans-serif;
    background: url(../images/bg1.png);
}
.section_title h1{
    font-family: 'yasinvaierfont';
    font-size: 55px;
    color: #600;
}
.header_top{
   
    padding: 10px 0;
}
.header_top .social_icon ul{
    display: flex; 
    list-style: none; 
    margin: 0;
    padding: 0;
    margin-top: 8px;
}
.header_top .social_icon ul li{
    margin: 0 15px;
}
.header_top .social_icon ul li a{
    text-decoration: none;
    color: #600;
    transition: all .3s;
}
.header_top .social_icon ul li a:hover{
    color: red;
}
.header_top .input-group { 
	width: 350px; 
	margin-left: auto;
}
input.form-control::placeholder{
    color: #a29999;
}
.header_top .input-group .form-control{
    border: 1px solid #600;
}
.header_top .input-group .form-control:focus{
    box-shadow: unset;
}
.header_top .input-group .input-group-text{
    background-color: #fff;
    transition: all .2s;
    border: 1px solid #600;
}
.header_top .input-group .input-group-text:hover{
    background-color: #e9ecef;
}



/* **** header middel ****** */
.header_middel{
    background-color:#600;
    padding: 20px 0;
}
.header_middel .h_middel_text h1{
     color: #fff;
     font-size: 55px;
     font-weight: bold;
     margin-bottom: 15px;
     font-family: 'yasinvaierfont';
}
.header_middel .h_middel_text h2{
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    font-family: inherit;
    margin-bottom: 15px;
}
.header_middel .h_middel_text h4{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'yasinvaierfont';
}
/* button */
.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
}
.buttons .button{
    padding: 7px 10px;
    box-sizing: border-box;
    font-size: 15px;
    color: #600;
    background: #ffff;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: all .3s;

}
.buttons .button:hover{
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}
.buttons .btn_donate{
    width: 152px;
    margin-bottom: 15px;
}
 
.buttons .btn_english{
    width: 70px;
    margin-right: 5px;
}
 
.buttons .btn_bangla{
    width: 70px;
    margin-left: 5px;
}

/******* navbar ********/
nav.navbar{
    background-color: #600;
    margin: 20px 0;
    padding: 0;
}
.navbar ul.custom_menu{
    font-family: 'yasinvaierfont';
}
.navbar ul.custom_menu li{
    position: relative;
}
.navbar ul.custom_menu li a{
    text-decoration: none;
    padding: 20px; 
    display: block;
    font-size: 14px;
    color: #fff;
    transition: all .3s;
}
.navbar ul.custom_menu li:hover >a{ 
    background-color: #fff;
    color: #600;
}
.navbar ul.custom_menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #600;
    width: 170px;
    left: 0;
    top: 160%;
    transition: all .5s; 
    opacity: 0;
    visibility: hidden;
}
.navbar ul.custom_menu li:hover ul{ 
    opacity: 1;
    visibility: visible;
    top: 100%;
}

/*************** course part start ****************/
 .course_section{
    padding: 50px 0 0;
}
.sigle_course{
    font-family: 'yasinvaierfont';
    color: #fff;
    background-color: #600;
    padding: 20px;
    border-radius: 70px;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 200px;
    overflow: hidden;
    transition: all 1s;
}
.sigle_course:hover{
    border-radius: 5px;
    height: 300px;
    margin-top: 0;
    margin-bottom: 100px;
}
.sigle_course h2 {
	font-size: 53px;
	margin-bottom: 25px;
}
 
.sigle_course .hidden_text{ 
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}
.sigle_course:hover .hidden_text{
    visibility: visible;
    opacity: 1; 
}
  
.hidden_text a{
    text-decoration: none;
    font-size: 20px;
    color: #600;
    background-color: #fff;
    padding: 3px 20px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 2px;
    margin-top: 25px;
    transition: all .3s;
}
.hidden_text a:hover{
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}
/*************** course part end ****************/


/* about part start  */
.about{
    background: url(../images/bg3.jpg);
}
.about .video_thumbnail{
    position: relative;
}
.about .video_thumbnail:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
}
.about .video_thumbnail img{
    width: 100%;
}
.video_button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
.video_button a{
    font-size: 60px;
    color: #fff;
    transition: all .4s;
    display: inline-block;
    outline: 0;
}
.video_button a:hover{
    transform: scale(1.2);
    animation-fill-mode: backwards;
    color: #ff0000;
}
.about .section_title h1{
    color: #fff;
    font-family: 'yasinvaierfont';
    margin-top: 30px;
}
.about_text{
    padding: 50px;
}
.about_text p{
    color: #fff;
    font-family: 'yasinvaierfont';
    font-size: 20px;
}
.about_text a{
    color: #600;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    background: #fff;
    border: 1px solid transparent;
    padding: 5px 20px;
    border-radius: 5px;
    transition: all .3s;
    font-family: 'yasinvaierfont';
    outline: 0;
}
.about_text a:hover{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    box-shadow: 0px 0px 10px #600;
}
/* about part end */


/* dawah part start  */
.dawah{
    padding: 60px 0;
}
 
.dawah .dawah_thumbnail img{
    width: 100%;
    box-shadow: 0 0 10px #000;
}
 
.dawah_text{
    padding: 50px;
}
.dawah_text p{
    color: #600;
    font-family: 'yasinvaierfont';
    font-size: 20px;
    margin-bottom: 30px;
}
.dawah_text a{
    color: #fff;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    background: #600;
    border: 1px solid transparent;
    padding: 5px 20px;
    border-radius: 5px;
    transition: all .3s;
    font-family: 'yasinvaierfont';
    outline: 0;
}
.dawah_text a:hover{
    background: transparent;
    border: 1px solid #600;
    color: #600;
    box-shadow: 0px 0px 10px #600;
}
/* dawah part end */

/* prokolpo part start */
.prokolpo{
    background: url(../images/bg3.jpg);
    padding: 80px 0;
}
.prokolpo .section_title h1{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
.prokolpo .single_slider{
    text-align: center;
    color: #fff;
    background-color: #600;
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
    
}
.prokolpo .single_slider h3 {
	font-family: 'yasinvaierfont';
	font-size: 32px;
	margin-bottom: 20px;
}
.prokolpo .single_slider p {
	font-family: 'yasinvaierfont';
	font-size: 20px;
}
.prokolpo .single_slider a {
	font-family: 'yasinvaierfont';
	font-size: 18px;
    text-decoration: none;
    color: #600;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px 20px;
    display: inline-block;
    transition: all .3s;

}
.prokolpo .single_slider a:hover {
    color: #fff;
    background: #600;
    border: 1px solid #fff;
}
.prokolpo .angle_set{
    position: relative;
}
.prokolpo .arrows{
    position: absolute;
    padding: 10px 20px;
    background: #600;
    border-radius: 2px;
    display: inline-block;
    bottom: -45px;
    cursor: pointer;
}
.prokolpo .arrows i{
    font-size: 30px;
    color: #fff;
}
.prokolpo .arrows.left_arrow{
     
    left: 0;
}
.prokolpo .arrows.right_arrow{
    
    right: 0;
}
/* prokolpo part end */

/* donation start */
.donation{
    padding: 80px 0;
}
.donation .donate_img img{
    width: 100%;
}
.donation .donation_text{
    color: #600;
    font-family: 'yasinvaierfont';
}
.donation .donation_text ul{
    list-style: none;
     
}
.donation .donation_text ul li{
    font-size: 20px;
     
}
.donation .donation_text p{
    font-size: 20px;
     
}
.donation_button{
    color: #fff;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    background: #600;
    border: 1px solid transparent;
    padding: 5px 20px;
    border-radius: 5px;
    transition: all .3s;
    font-family: 'yasinvaierfont';
    outline: 0;
}
.donation_button:hover{
    background: transparent;
    border: 1px solid #600;
    color: #600;
    box-shadow: 0px 0px 10px #600;
}


/* donation end */

/* contact start */
.contact{
    background: url(../images/bg3.jpg);
    padding: 80px 0;
}
.contact .section_title h1{
    color: #fff;
    margin-bottom: 30px;
}
.contact .contact_left > *{
    margin-bottom: 20px;
    background-color: transparent;
    color: #fff;
}
.contact .contact_right > *{
    margin-bottom: 20px;
    background-color: transparent;
    color: #fff;
}
.contact_left{
    margin-bottom: 40px;
}
.contact_left label{
    color: #fff;
    font-size: 25px;
    font-family: 'yasinvaierfont';
}
.contact .contact_button label{
    color: #fff;
    font-size: 25px;
    font-family: 'yasinvaierfont';
}
.contact_button .button input{
    padding: 10px 20px;
    border: 1px solid transparent;
    background-color: #fff;
    color: #600;
    border-radius: 4px;
    margin-top: 30px;
    transition: all .5s;
}
.contact_button .button input:hover{ 
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff; 
}
/* contact end */

/********* footer section start ***********/

.footer_top{
    background-color: #600;
    color: #fff;
    padding: 60px 0;
}
.footer_top .address h2{
    font-family: 'yasinvaierfont';
    font-size: 45px;
}
.footer_top .address h3{
    font-size: 40px;
}
.footer_top .address h4{
    font-size: 20px;
    margin: 15px 0;
}
 
.footer_top .quick_links h3{
    font-size: 35px;
    margin-bottom: 30px;
}
.footer_top .quick_links ul{
    list-style: none;
    padding: 0;
}
.footer_top .quick_links ul li{

}
.footer_top .quick_links ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    padding: 7px 5px;
    display: block; 
    transition: all .3s;
    border-top: 1px solid #fff;
     
}
.footer_top .quick_links ul li a:last-child{
    border-bottom: 1px solid #fff;
}
.footer_top .quick_links ul li a:hover{
    
    background-color: rgba(255, 255, 255, .2);
}
.footer_top .social_icon ul{
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-left: 0;
    margin-top: 30px;
}
.footer_top .social_icon ul li a{
   height: 40px;
   width: 40px;
   border: 1px solid #fff;
   color: #fff; 
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center; 
   margin-right: 25px;
   transform: rotate(46deg);   
   transition: all .3s;
   
}
.footer_top .social_icon ul li a:hover{
    background-color: #fff;;
}
.footer_top .social_icon ul li:hover a{
    color: #600;
   
}
 
.footer_top .social_icon ul li a i{
    transform: rotate(-46deg);
}

.footer_top .advisory > *{
    margin-bottom: 20px;
    background-color: transparent;
}
.footer_top .advisory input[type="submit"]{
    padding: 10px 20px;
    border: 1px solid transparent;
    background-color: #fff;
    color: #600;
    border-radius: 4px;
    margin-top: 10px;
    transition: all .5s;
}
.footer_top .advisory input[type="submit"]:hover{
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff; 
}
/* copyrigth */

.footer_copyright{
    background-color: #4a0202;
    color: #fff;
}
.footer_copyright p{
    margin: 0;
    padding: 0;
    font-weight: 400;
    letter-spacing: 1px;
}
/********* footer section end ***********/